.sale-product-item-rows {
  width: 100%;
  height: 36px;
  font-weight: 400;
  color: #2e2e33;
  &__col {
    margin-bottom: 10px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    padding: 0 6px;
    font-size: 13px;
    line-height: 1.25;
    min-width: 80px;
  }
  &__col:first-child {
    border-left: none;
  }
  &__col:last-child {
    border-right: none;
    width: 70px;
    width: 15%;
  }
  .image {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  td:first-child {
    background-color: #ffffff;
    border-top: 1px solid #e5e5e5;
    border-radius: 0;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 75px;
    object-position: center center;
    object-fit: contain;
  }
  &__no-photo {
    background: #efefef !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    img {
      width: 90px !important;
    }
  }
  .price {
    div {
      width: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__newPrice {
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
  }

  &__button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  &__counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    padding: 0 5px;
    margin-bottom: 5px;
    .button {
      margin: 0;
      border: none;
      background: none !important;
      box-shadow: none;
      img {
        cursor: pointer;
        width: 15px;
        height: 15px;
      }
    }
  }
  &__button {
    background-color: transparent;
    border: 1px solid #e5332a;
    color: #e5332a;
    border-radius: 10px;
  }
}
.sale-product-item-rows:nth-child(2n),
.table-header {
  background: #ededed;
}
