.register-form {
  padding: 0;

  &__section {
    &__title {
      color: $primaryColor;
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 0;
      line-height: 1.3;

      &__black {
        color: $neutralRegular;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 0;
        line-height: 1.3;
      }
    }
    &__subtitle {
      font-size: 15px;
      color: $neutralRegular;
      margin-bottom: 20px;
    }
  }
  &__file-list {
    margin: 0;
    padding: 0;
  }
  &__file-item {
    $item: &;

    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    padding: 0 2px;

    &:first-child {
      margin-top: 0;
    }
    &:hover {
      #{$item}__name {
        text-decoration: underline;
      }
    }
    &.is-uploaded {
      &:hover {
        #{$item}__name {
          text-decoration: underline;
        }
      }

      label {
        #{$item}__name {
          text-decoration: underline;
        }
      }
      svg {
        color: $primaryColor;
      }
      #{$item}__name {
        color: #000;
      }
      #{$item}__delete {
        display: flex;
      }
    }
    &.is-disabled {
      label {
        cursor: not-allowed;
      }
      // &:hover #{$item}__name, #{$item}__name {
      // 	text-decoration: none;
      // }
      &.is-uploaded {
        label {
          cursor: pointer;
        }
      }
    }
    &.highlighted {
      background-color: #fddbd8;
      border-radius: 3px;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      padding-right: 15px;
      width: 100%;
    }
    svg {
      width: 17px;
      min-width: 17px;
      height: 17px;
      margin-right: 8px;
      color: #777;
    }
    &__name {
      color: #999;
    }
    &__icon-group {
      display: flex;
      align-items: center;
    }
    &__view {
      cursor: pointer;
    }
    &__download {
      cursor: pointer;

      svg {
        margin-right: 0;
      }
    }
    &__delete {
      display: none;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        svg {
          fill: #444;
        }
      }

      svg {
        height: 15px;
        margin-right: 0;
        fill: #999;
        transition: fill 0.35s;
      }
    }
    input[type='file'] {
      position: absolute;
      opacity: 0;
      width: 0.01px;
      height: 0.01px;
      visibility: hidden;
    }
  }

  .row--content {
    &.is-disabled {
      opacity: 0.5;
    }
  }
  .col--content {
    width: 50%;
    flex-direction: column;
  }

  .ant-form-item {
    margin-bottom: 5px;
    position: relative;

    &-label {
      label {
        height: auto;
        line-height: 1.4;
        padding: 2px 0 2px;
      }
    }
    &-has-error {
      margin-bottom: 0;
    }
    &-control-input {
      min-height: auto;
    }

    .ant-input,
    .ant-select-selection-search-input,
    .ant-input-affix-wrapper {
      padding-top: 2px;
      padding-bottom: 2px;
    }

    .ant-input::placeholder {
      color: #818181;
    }

    .ant-select-selection-search-input {
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }
  &__file-item .ant-form-item {
    margin-bottom: 0;
  }
  .form-group {
    margin-bottom: 5px;

    &.is-disabled {
      opacity: 0.5;
    }
  }

  &__category-selecting {
    width: 100%;

    &__top {
      margin-bottom: 20px;

      button {
        height: 27px;
        margin-left: 10px;
        padding: 2px 15px 4px 15px;

        &:first-child {
          margin-left: 0;
        }
        span {
          display: flex;
          align-items: center;
        }
        &.ant-btn-text {
          text-decoration: underline;

          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
    h2 {
      font-size: 30px;
      font-weight: 600;
      margin: 0;
    }

    .auto-brand-selection {
      padding-right: 30px;
    }
  }
  .product-card {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;

    &__title {
      font-family: 'Inter';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      color: #525252;
    }

    &__section {
      margin-top: 23px;
      display: flex;
      flex-direction: column;
    }
  }

  .card-title {
    margin-bottom: 20px;
  }
}
.simplifield-form {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;

  .col--content {
    width: 100%;
  }
  .btn-block__manager {
    width: 350px;
  }
  .btn-block__seller {
    width: 100%;
  }
}
