.toast-main-container {
	top: 70px;

	.Toastify {
		&__toast {
			background: rgba(255,255,255,.75);
			color: #333;
			padding: 8px 15px;
      border-radius: 6px;
			font-size: 14px;

			svg {
				color: #333;
			}
			p {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&__progress-bar {
			background: rgba(0,0,0,.1);
		}
	}
}

.toast-content {
  display: flex;
  align-items: center;

  img.logo-mini {
    width: 35px;
    margin-right: 15px;
  }
}
